/* Google Fonts Import */
@font-face {
  font-family: "Fraunces_144pt_SemiBold";
  src: url("../fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope/static/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Colors */
  --green: #44faa1;
  --purple-900: #24053e;
  --purple-500: #584d62;
  --purple-100: #fcf8ff;
  --white: #fff;

  /* Text presets */
  --text-preset-1-ff: "Fraunces_144pt_SemiBold", serif;
  --text-preset-1-fw: 600;
  --text-preset-1-fs: 48px;
  --text-preset-1-lh: 1;

  --text-preset-2-ff: "Fraunces_144pt_SemiBold", serif;
  --text-preset-2-fw: 600;
  --text-preset-2-fs: 56px;
  --text-preset-2-lh: 1.2;

  --text-preset-3-ff: "Fraunces_144pt_SemiBold", serif;
  --text-preset-3-fw: 600;
  --text-preset-3-fs: 24px;
  --text-preset-3-lh: 1.2;

  --text-preset-4-ff: "Manrope", sans-serif;
  --text-preset-4-fw: 600;
  --text-preset-4-fs: 18px;
  --text-preset-4-lh: 1.8;

  --text-preset-5-ff: "Manrope", sans-serif;
  --text-preset-5-fw: 400;
  --text-preset-5-fs: 18px;
  --text-preset-5-lh: 1.5;

  /* Spacing scale (8px base) */

  --space-100: 8px;
  --space-150: 12px;
  --space-200: 16px;
  --space-250: 20px;
  --space-350: 28px;
  --space-400: 32px;
  --space-500: 40px;
  --space-550: 44px;
  --space-700: 56px;
  --space-800: 64px;
  --space-1000: 80px;
  --space-1100: 88px;
  --space-1400: 112px;
  --space-1600: 128px;
  --space-1800: 144px;
  --space-2100: 168px;
  --space-3700: 296px;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog),
ul {
  margin: 0;
  padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Base */

.hero__bg-1,
.hero__bg-2,
.author-box__bg {
  display: none;
}
main {
  font-family: var(--text-preset-4-ff);
}

nav {
  background-color: var(--purple-900);
  padding-top: var(--space-250);
  padding-left: var(--space-250);
  padding-right: var(--space-250);
  display: flex;
  justify-content: space-between;
}

.underline {
  color: var(--white);
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.15em;
  width: 100%;
  height: 0.2em;
  background-color: var(--green);
  z-index: 1;
}

.hero {
  position: relative;
  background-color: #24053e;
  color: white;
  padding: 8rem 2rem 10rem;
  text-align: center;
  overflow: hidden;
  clip-path: ellipse(160% 100% at 50% 0%);
}

.underline--hero::after {
  width: 105%;
  left: 0;
  height: 0.05em;
  bottom: 0.05em;
}

.hero__img {
  position: absolute;
  display: block;
  margin: -6rem auto 0;
  max-width: 20rem;
  left: 50%;
  transform: translateX(-50%);
}

.hero h1 {
  font-family: var(--text-preset-1-ff);
  font-weight: var(--text-preset-1-fw);
  color: var(--white);
  margin-bottom: var(--space-500);
  line-height: var(--text-preset-1-lh);
  font-size: var(--text-preset-1-fs);
}

header a {
  background-color: var(--green);
  color: var(--purple-900);
  padding-inline: var(--space-400);
  padding-block: var(--space-150);
  line-height: var(--text-preset-4-lh);
  font-weight: var(--text-preset-4-fw);
}

.benefits {
  margin-top: 10rem;
  text-align: center;
  color: var(--purple-900);
  padding-left: var(--space-250);
  padding-right: var(--space-250);

  font-weight: var(--text-preset-1-fw);
  margin-bottom: var(--space-500);
}

.benefits h3 {
  font-family: var(--text-preset-3-ff);
  font-weight: var(--text-preset-3-fw);
  line-height: var(--text-preset-3-lh);
  font-size: var(--text-preset-3-fs);
}

/* ########################### SMAZAT ###########################  */
#flying-banner {
  position: fixed;
  top: 5%;
  left: 5%;

  z-index: 999;

  background-color: #e53935;
  color: #ffffff;

  border: 2px solid #ffffff;
  border-radius: 8px;

  padding: 12px 20px;

  font-size: 20px;
  font-weight: 600;
  font-family: system-ui, sans-serif;

  pointer-events: none; /* neblokuje klikání */
  white-space: nowrap;

  /* houpání */
  animation: floatSwing 2.5s ease-in-out infinite;
}

@keyframes floatSwing {
  0% {
    transform: translateY(0) rotate(-1.5deg);
  }
  50% {
    transform: translateY(10px) rotate(1.5deg);
  }
  100% {
    transform: translateY(0) rotate(-1.5deg);
  }
}
